<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/src/front/assets/css/header.css">
</head>

<body>
    <header>
        <div class="containerheader">
            <a href="/src/front/index.html"><h1>HorusMed</h1></a>
            <nav>
                <ul>
                    <li><a href="/src/front/index.html">Início</a></li>
                    <li><a href="https://github.com/CleberGomesJr/TPPOO-Clinica">GitHub</a></li>
                    <li><a href="#Sobre">Sobre</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>