<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/TPPOO-Clinica/src/front/assets/css/header.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Clínica Médica</h1>
            <nav>
                <ul>
                    <li><a href="/TPPOO-Clinica/src/front/index.html">Início</a></li>
                    <li><a href="#">Serviços</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>